/*
CONTENTS

1. global
2. layout
    2.1 header, nav
    2.2 articles (project gallery)
    2.3 footer
3. text
    3.1 links
4. interaction
5. components
6. desktop media query
*/


/*////////////////////////////////// GLOBAL /////////////////////////////////*/

:root {
    --background: #f3f1f0;
    --foreground: #404047;
    --borders: #ada5a5;
    --accent: #d12f00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background);
    color: var(--foreground);

    scrollbar-gutter: stable;
}

body {
    margin: 5vh 6vw;
    font-family:Arial, Helvetica, sans-serif;
}


/*////////////////////////////////// LAYOUT //////////////////////////////////*/

img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 1em 0;
    background-color: var(--borders);
    background-image: repeating-linear-gradient(-45deg, #fff9, #fff9 20px, #fff6 20px, #fff6 40px);
}

/************ header, nav ************/

header,
.videoInsert {
    margin-bottom: 3rem;
}

header {
    border-bottom: 1px solid var(--borders);
}

/* "Go back" button in project pages */
header > a {
    display: inline-block;
    margin-top: 1em;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

/************ articles (project gallery) ************/

article {
    display: flex;
        flex-direction: column;
    /* Necessary to make title links stretch to whole article card */
    position: relative;
    margin-bottom: 1.8em;
}

/* Accessibly stretch title links to whole article card */
article h2 a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

article picture {
    order: -1;
}

article img {
    height: 18rem;
}

article picture img {
    margin: 0;
}

/************ footer ************/

footer {
    margin-top: 3rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--borders);
    line-height: 0.8em;
}

footer svg {
    width: 2.2em;
    padding: 0.2em;
    margin-bottom: 0.5em;
    display: inline-block;
}


/*/////////////////////////////////// TEXT ///////////////////////////////////*/

main {
    line-height: 2;
}

header {
    padding-bottom: 1.2rem;
}

h1 {
    font-size: 3em;
    margin-bottom: 1rem;
}

h3 {
    line-height: 1.5;
    padding: 0.5em 0;
}

article h2 {
    margin: 0.2rem 0;
}

h2 {
    margin: 1.5rem 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    line-height: 1.2;
}

p,
main ul,
main ol {
    margin-bottom: 1.3em;
}

article p,
footer p {
    margin-bottom: 0.3em;
}

ul {
    list-style: none;
}

ul p {
    margin-bottom: 1.2em;
}

ol {
    list-style-position: inside;
}

var {
    color: var(--accent);
    padding: 0 0.5em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

svg {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0.12em;
    vertical-align: middle;
    stroke-linejoin: round;
}

.caption {
    font-size: small;
    font-style: italic;
    position: relative;
    top: -1.5em;
    margin: 0;
}

/************ links ************/

a {
    font-weight: bold;
    text-decoration: none;
}

a,
main h2 a {
    color: inherit;
}

p a,
main li a {
    padding-bottom: 0.1em;
    border-bottom: 1px solid;
}

main a {
    color: var(--accent);
}


/*/////////////////////////////// INTERACTION ///////////////////////////////*/

::selection {
    background-color: var(--accent);
    color: var(--background);
}

a,
:focus {
    transition: 0.1s;
}

a:hover,
a:focus,
main h2 a:hover,
main h2 a:focus {
    color: var(--accent);

}

main a:hover,
main a:focus {
    color: inherit;
}

p a:hover,
main li a:hover {
    border-bottom-width: 4px;
}

:focus-visible {
    outline: 0.3rem solid;
    text-decoration: none;
}

.btnLink:hover,
.btnLink:focus {
    outline-width: 4px;
}

header nav,
header > a,
.btnLink,
footer > a {
    user-select: none;
}


/*//////////////////////////////// COMPONENTS ////////////////////////////////*/

time,
.comingSoon p {
    display: block;
    border-bottom: 1px solid var(--borders);
    margin-bottom: 1em;
}

.btnLink {
    outline: 1px solid var(--foreground);
    padding: 0.2em 0.8em;
    display: inline-block;
    margin: 0.8em 1em 2em 0;
}

.comingSoon {
    opacity: 0.75;
    filter: saturate(0);
}

.videoInsert {
    position: relative;
    padding: 56.21% 0 0 0;
}

.videoInsert iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


/*/////////////////////////// DESKTOP MEDIA QUERY ///////////////////////////*/

@media (min-width: 45rem) {

    .videoInsert {
        padding: 0;
        height: 55vh;
    }

    header,
    .flex{
        display: flex;
            flex-direction: row;
    }

    header {
        justify-content: space-between;
        align-items: baseline;
        height: 5rem;
    }

    header li {
        margin-left: 3em;
    }

    .flex > div:first-child {
        max-width: 45vw;
        margin-right: 4rem;
    }

    .home {
        min-height: 53vh;
        align-items: center;
        justify-content: space-between;
    }

    .home h2 {
        font-size: 3.5em;
    }

    .home img {
        margin: 0;
        max-height: 50vh;
        max-width: 35vw;
    }

    .home .btnLink {
        margin-bottom: 0;
    }

    .projectsWrap,
    .aboutWrap,
    #awardList {
        display: grid;
        gap: 1rem 6rem;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }

    #awardList {
        min-width: 100%;
    }

    article,
    section {
        /* Just in case browser doesn't support grid */
        max-width: 55vw;
    }
}