---
title: Works
layout: "base.njk"
---


<div class="projectsWrap">
    <article class="comingSoon">
        <h2>Recycled fibers</h2>
        <picture class="comingSoon">
            <source
                type="image/webp"
                srcset="
                    {{ '/imgs/projects/recycled-fibers/recycled-fibers-800.webp' | url }} 800w,
                    {{ '/imgs/projects/recycled-fibers/recycled-fibers-1100.webp' | url }} 1100w"
                sizes="
                    (min-width: 45rem) 30rem,
                    88vw"
            >
            <img src="{{ '/imgs/projects/recycled-fibers/recycled-fibers-800.jpg' | url }}" alt="A hand holding a small printed cylinder. Its material looks granulated.">
        </picture>
        <p>Coming soon!</p>
    </article>

    <article>
        <h2><a href="{{ '/projects/robot-gesturality' | url }}">Robot gesturality</a></h2>
        <picture>
            <source
                type="image/webp"
                srcset="
                    {{ '/imgs/projects/robot-gesturality/robot-gesturality-800.webp' | url }} 800w,
                    {{ '/imgs/projects/robot-gesturality/robot-gesturality-1100.webp' | url }} 1100w"
                sizes="
                    (min-width: 45rem) 30rem,
                    88vw"
            >
            <img src="{{ '/imgs/projects/robot-gesturality/robot-gesturality-800.png' | url }}" alt="A bright yellow, industrial robotic arm with a metal arc tool attached to its end.">
        </picture>

        <time datetime="2022">2022</time>
        <p>Modifying traditionally made ceramic pieces with Stäubli's TX-60 robotic arm.</p>
    </article>

    <article>
        <h2><a href="{{ '/projects/printed-l-systems' | url }}">Printed L-Systems</a></h2>
        <picture>
            <source
                type="image/webp"
                srcset="
                    {{ '/imgs/project-thumbnails/printed-l-systems-thumb-600.webp' | url }} 600w,
                    {{ '/imgs/project-thumbnails/printed-l-systems-thumb-900.webp' | url }} 900w,
                    {{ '/imgs/project-thumbnails/printed-l-systems-thumb-1000.webp' | url }} 1000w,
                    {{ '/imgs/project-thumbnails/printed-l-systems-thumb-1900.webp' | url }} 1900w"
                sizes="
                    (min-width: 45rem) 30rem,
                    88vw"
            >
            <img src="{{ '/imgs/project-thumbnails/printed-l-systems-thumb-900.jpg' | url }}" alt="A 3D printer nozzle is in the process of extruding clay. The resulting tubular shape has a texture with multiple spike-like protrusions.">
        </picture>

        <time datetime="2022">2022</time>
        <p>Research on generative printable shapes, under the Premis Barcelona grant.</p>
    </article>

    <article>
        <h2><a href="{{ '/projects/post-digital-vases-3' | url }}">Post-digital vases 3</a></h2>
        <picture>
            <source
                type="image/webp"
                srcset="
                    {{ '/imgs/projects/post-digital-vases-3/white-piece-800.webp' | url }} 800w,
                    {{ '/imgs/projects/post-digital-vases-3/white-piece-1100.webp' | url }} 1100w"
                sizes="
                    (min-width: 45rem) 30rem,
                    88vw"
            >
            <img src="{{ '/imgs/projects/post-digital-vases-3/white-piece-800.png' | url }}" alt="A white pocelain vase holding a thin, undulating plant. The piece has an organic shape and some patches of what resemble thick, porcelain hairs growing out of it.">
        </picture>

        <time datetime="2020">2020</time>
        <p>Exhibited in <i>XYZ</i> at the Terracotta museum, La Bisbal d'Empordà, and in <i>The Rear-View Mirror</i> at the Adorno gallery. Pieces for sale.</p>
    </article>

    <article>
        <h2><a href="{{ '/projects/post-digital-vases-2' | url }}">Post-digital vases 2</a></h2>
        <picture>
            <source
                type="image/webp"
                srcset="
                    {{ '/imgs/project-thumbnails/post-digital-vases-2-thumb-600.webp' | url }} 600w,
                    {{ '/imgs/project-thumbnails/post-digital-vases-2-thumb-900.webp' | url }} 900w,
                    {{ '/imgs/project-thumbnails/post-digital-vases-2-thumb-1000.webp' | url }} 1000w,
                    {{ '/imgs/project-thumbnails/post-digital-vases-2-thumb-1900.webp' | url }} 1900w"
                sizes="
                    (min-width: 45rem) 30rem,
                    88vw"
            >
            <img src="{{ '/imgs/project-thumbnails/post-digital-vases-2-thumb-900.jpg' | url }}" alt="A 3D-printed porcelain ceramic piece, with differently-textured sections.">
        </picture>

        <time datetime="2020">2020</time>
        <p>For the Crafts Week of Catalonia, exhibited at JOYA, Barcelona.</p>
    </article>

    <article>
        <h2><a href="{{ '/projects/reprint-ceramics' | url }}">Reprint Ceramics</a></h2>
        <picture>
            <source
                type="image/webp"
                srcset="
                    {{ '/imgs/project-thumbnails/reprint-ceramics-thumb-600.webp' | url }} 600w,
                    {{ '/imgs/project-thumbnails/reprint-ceramics-thumb-900.webp' | url }} 900w,
                    {{ '/imgs/project-thumbnails/reprint-ceramics-thumb-1000.webp' | url }} 1000w,
                    {{ '/imgs/project-thumbnails/reprint-ceramics-thumb-1900.webp' | url }} 1900w"
                sizes="
                    (min-width: 45rem) 30rem,
                    88vw"
            >
            <img src="{{ '/imgs/project-thumbnails/reprint-ceramics-thumb-900.jpg' | url }}" alt="3 white 3D-printed lamps hang from thick black or red wires at different heights. They have textures similar to frayed textiles. Their light shines through the spaces between the ceramic 'threads'.">
        </picture>
        
        <time datetime="2020">2020</time>
        <p>Upcycled household ceramic waste, in the form of 3D-printed lamps.</p>
    </article>

    <article>
        <h2><a href="{{ '/projects/exdesigner-tableware' | url }}">Tableware for Martí Guixé's Ex-Designer</a></h2>
        <picture>
            <source
                type="image/webp"
                srcset="
                    {{ '/imgs/project-thumbnails/ex-designer-tableware-thumb-600.webp' | url }} 600w,
                    {{ '/imgs/project-thumbnails/ex-designer-tableware-thumb-900.webp' | url }} 900w,
                    {{ '/imgs/project-thumbnails/ex-designer-tableware-thumb-1000.webp' | url }} 1000w,
                    {{ '/imgs/project-thumbnails/ex-designer-tableware-thumb-1900.webp' | url }} 1900w"
                sizes="
                    (min-width: 45rem) 30rem,
                    88vw"
            >
            <img src="{{ '/imgs/project-thumbnails/ex-designer-tableware-thumb-900.jpg' | url }}" alt="A series of geometrical 3D-printed bowls and glasses, in different earth tones ranging from chocolate brown to bone white.">
        </picture>
        
        <time datetime="2020">2020</time>
        <p>3D-printed tableware for a 3D-printed bar.</p>
    </article>

    <article>
        <h2><a href="{{ '/projects/post-digital-vases-1' | url }}">Post-digital vases 1</a></h2>
        <picture>
            <source
                type="image/webp"
                srcset="
                    {{ '/imgs/project-thumbnails/post-digital-vases-1-thumb-600.webp' | url }} 600w,
                    {{ '/imgs/project-thumbnails/post-digital-vases-1-thumb-900.webp' | url }} 900w,
                    {{ '/imgs/project-thumbnails/post-digital-vases-1-thumb-1000.webp' | url }} 1000w,
                    {{ '/imgs/project-thumbnails/post-digital-vases-1-thumb-1900.webp' | url }} 1900w"
                sizes="
                    (min-width: 45rem) 30rem,
                    88vw"
            >
            <img src="{{ '/imgs/project-thumbnails/post-digital-vases-1-thumb-900.jpg' | url }}" alt="Two 3D-printed ceramic vases, each on its own pedestal, in front of a wall covered in framed oil paintings of flower vases.">
        </picture>
        
        <time datetime="2019">2019</time>
        <p>For the <i>On Flower Power</i> exhibition, Galleria Nazionale d'Arte Moderna e Contemporanea, Rome.</p>
    </article>

    <article>
        <h2><a href="{{ '/projects/innovation-workshop' | url }}">Innovation workshop</a></h2>
        <picture>
            <source
                type="image/webp"
                srcset="
                    {{ '/imgs/project-thumbnails/puig-thumb-600.webp' | url }} 600w,
                    {{ '/imgs/project-thumbnails/puig-thumb-900.webp' | url }} 900w,
                    {{ '/imgs/project-thumbnails/puig-thumb-1000.webp' | url }} 1000w,
                    {{ '/imgs/project-thumbnails/puig-thumb-1900.webp' | url }} 1900w"
                sizes="
                    (min-width: 45rem) 30rem,
                    88vw"
            >
            <img src="{{ '/imgs/project-thumbnails/puig-thumb-900.jpg' | url }}" alt="3D-printed perfume diffuser with an organic orange glass lid, and a leather cover by its side.">
        </picture>
        
        <time datetime="2017">2017</time>
        <p>To stimulate the perception of new materials, new processes and new technologies.</p>
    </article>
</div>